<!DOCTYPE html>
<html>
    <head>
        <title>About</title>

         <link rel="icon" href="/img/weather.svg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This app was created by Aapan Mutsuddy. It uses api from openweather and mapbox to represent weather data. Thank you for visiting.</p>
            <img class="image" src="/img/node.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>
